.re{
    width: 35rem;
    border-radius: 40px;
    /* background-image: url(../components/companyPhotos/Asanka\ Madushan.jpeg); */
    margin-top: 41px;
    font-size:22px;
    font-weight: bolder;
    height: 45px;
    
    
}


  