.flyer{
    margin: 5px auto 15px auto;
    border: 100%;
    border: 2px solid rgba(145, 145, 145, 0.425);
    object-fit: cover;
    width: 200px;
    height: 200px;
}

.re{
    width: 35rem;
    border-radius: 40px;
    /* background-image: url(../components/companyPhotos/Asanka\ Madushan.jpeg); */
    margin-top: 41px;
    font-size:22px;
    font-weight: bolder;
    height: 45px;
    
    
}

.add-jobs{
    padding-left: 2%;
    padding-right: 2%;
}




.responses{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.response{
    flex:0 0 calc(33.33% - 20px);
    max-width:calc(33.33% - 20px);
    width:100%;
    background-color: rgb(194, 194, 204);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    transition: .3s;
    border: 2px solid transparent;
}

.response:hover{
    border-color:rgb(23, 32, 112);
}

@media(max-width: 800px){
.response{
    flex: 0 0 100%;
    max-width: 100%;
}
};

@media(max-width: 1000px){
    .res-sec{
        padding:20px 0px;
    }
    .response{
        flex:0 0 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
    };

.butdet{
    background:transparent;
    color: cornflowerblue;
}
@media(max-width: 1400px){
    .res{
        align-items: center;
        
    }
    
    };



    



  