.flyer {
  margin: 5px auto 15px auto;
  border: 100%;
  border: 2px solid rgba(145, 145, 145, 0.425);
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.btn-row {
  padding-top: 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 15px;
}

.scroll-btn {
  border-radius: 30px;
  font-size: 22px;
  font-weight: bolder;
  padding: 50px 100px 50px 100px;
}

.scroll-btn-col{
  justify-content: center;
  padding: auto;
  flex: 50%;
  
}


.scroll-btn-col div{
  margin: auto;
  text-align: center;
  width: auto;
}

@media (max-width: 1000px) {
  .scroll-btn-col div button{
    font-size: 20px !important;
  }
}



.responses {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 15px;
  row-gap: 20px;
}

.response {
  flex: 30%;
  min-width: max-content;
  width: 100%;
  background-color: rgb(223, 220, 246);
  border-radius: 10px;
  padding: 20px;
  transition: 0.3s;
  height: 250px;
  /* border: 2px solid ; */  

}

.response:hover {
  border-color: rgb(23, 32, 112);
}

.responses-sec-response{
  flex: 30%;
  min-width: 300px;
}

/* @media (max-width: 800px) {
  .response {
    flex: 100%;
    max-width: 100%;
  }
} */

/* @media (max-width: 800px) {
  .response {
    flex: 100%;
    max-width: 100%;
  }
}

@media (max-width: 1000px) {
  .res-sec {
    padding: 20px 0px;
  }

  .response {
    flex: 0 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
} */

.butdet {
  border: none;
}

@media (max-width: 1400px) {
  .res {
    align-items: center;
  }
}
