.admin-home-container {
    padding: 20px;
}

.filter-buttons button.active {
    background-color: #f0f0f0;
    font-weight: bold;
}


.filter-buttons button.active {
    background-color: #f0f0f0;
    font-weight: bold;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
}

.user-table th,
.user-table td {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: center;
}

.user-table th {
    background-color: #f0f0f0;
    text-align: center;
}

.user-table .user-photo {
    width: 30%;
    height: 80px;
    object-fit: scale-down;
    min-width: 80px;
}

.user-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.user-table tbody tr:hover {
    background-color: #e6e6e6;
}

.user-actions button {
    margin-right: 5px;
}
.graph-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}