.cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-heading {
    font-size: 2rem;
    margin-bottom: 20px;
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
}

.cart-table th,
.cart-table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}
.cart-table img {
    padding: 10px;
    max-height: 70px;
    max-width: 70px;
    text-align: center;
}

.cart-table td img {
    max-width: 50px;
}

.cart-table td.edit,
.cart-table td.delete {
    text-align: center;
}

.cart-table button {
    padding: 5px;
    border: none;
    background-color: #ccc;
    cursor: pointer;
}

.appointment-details {
    width: 100%;
    display: flex;
}

