.strip-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px; 
}

.section-title {
  text-align: left;
/* margin-left: 20%; */
margin-top: 5%;
}

.searchBar {
  /* text-align: center;
  align-items: flex-start;
  margin-top: 8%;
  margin-left: -20%; */
  /* flex-shrink: 0; */
  align-items: flex-end;
}
.text-style {
  font-family:'Times New Roman', Times, serif;
  font-size: 36px;
  font-weight:bolder;
  color:rgb(78, 78, 78);
}
.right-column {
  display: flex;
  align-items: flex-start;
}

.strip-image {
  width: 700px;
  height: 300px;
  max-width: 100%; /* Ensure the image doesn't exceed its container's width */
}

/* Media Query for Smaller Screens */
@media (max-width: 1050px) {
  /* .searchBar{
    margin-top: -5%;
  } */
  .strip-section {
    flex-direction: column;
  }
  .centered-content {
    margin-right: 0; /* Remove the spacing between title and search bar on smaller screens */
  }
}

