.profile-photo-3 {
    margin: 0px auto 15px 0px;
    
    border: 2px solid rgba(145, 145, 145, 0.425);
    object-fit: cover;
    /* width: 300px;
    height: 200px; */
  }

  @media (max-width: 1400px) {
    .profile-photo-3 {
      width: 20%;
    }
  }
  @media (max-width: 1200px) {
    .profile-photo-3 {
      width: 25%;
    }
  }
  @media (max-width: 990px) {
    .profile-photo-3 {
      width: 30%;
    }
  }
  @media (max-width: 800px) {
    .profile-photo-3 {
      width: 40%;
    }
  }
  @media (min-width: 1400px) {
    .profile-photo-3 {
      width: 20%;
      
    }
  }



.alert {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.alert.success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.alert.error {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.alert p {
  margin: 0;
}

.alert.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-size: 14px;
  color: #777;
}

.alert.close-button:hover {
  color: #333;
}

