.main-header-top {
    background-color: #0073a5;
    padding: 3px;
    display: flex;
    justify-content: flex-end;
    /* Align items to the right */
    align-items: center;

}

.main-login {
    display: flex;
    align-items: center;
}


.main-login l-text1 {
    margin-right: 10px;
    color: #fff;
    margin-Bottom: 10px;
    font-Size: 16px;
    display: flex;
    align-items: center;


}

.main-login button {
    color: white;
    background-color: #0073a5;
    border: none;
    padding: 1px 1px;
    cursor: pointer;
}


.main-notlogin {
    display: flex;
    align-items: center;
}

.main-notlogin l-text1 {
    margin-right: 10px;
    color: #fff;
    margin-Bottom: 10px;
    font-Size: 16px;

}

.main-notlogin .main-logbar-item {
    background-color: #3498db;
    border: none;
    padding: 1px 10px;
    cursor: pointer;
}

.main-notlogin .main-logbar-item a {
    color: #fff;
    text-decoration: none;

}

.main-login .profileHeader {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
}