.main-header-top {
    background-color: #0073a5;
    padding: 3px;
    display: flex;
    justify-content: flex-end; /* Align items to the right */
    align-items: center;

}

.main-loggin {
    display: flex;
    align-items: center;
}

.main-loggin l-text1 {
    margin-right: 5px;
}

.main-loggin button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 1px 1px;
    cursor: pointer;
}

.main-notlogin {
    display: flex;
    align-items: center;
}

.main-notlogin l-text1 {
    margin-right: 10px;
    color: #fff;
}

.main-notlogin .main-logbar-item {
    background-color: #3498db;
    border: none;
    padding: 1px 10px;
    cursor: pointer;
}

.main-notlogin .main-logbar-item a {
    color: #fff;
    text-decoration: none;
}

.profileHeader {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: auto;
    cursor: pointer;
}