#profile-dropdown {
    background-color: transparent;
    border: none;
    padding: 0;
  }
  
  #profile-dropdown:focus {
    box-shadow: none;
  }
  
  #profile-dropdown .dropdown-toggle::after {
    display: none;
  }
  
  #profile-dropdown .dropdown-item {
    font-size: 14px;
    margin-left: 0px !important;
    padding: auto !important;
  }

.dropdown-item{
    margin-left: 0px !important;
    padding: auto !important;
    text-align: center !important;
}

.profile-logo-img{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  object-fit: cover;
}