.progress-div {
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: flex-start;
    column-gap: 50px;
    margin-bottom: 50px;
}

.flex-container1,
.flex-container2,
.sub-flex-container,
.container2-flex-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 20px;
}

.sub-flex-container {
  margin-bottom: 25px;
}

.container1-flex-item1 {
  flex: 15%;
}

.container1-flex-item2 {
  flex: 80%;
}

.sub-flex-item1 {
  flex: 10%;
}

.sub-flex-item2 {
  flex: 23%;
}

.container2-flex-item {
  flex: 45%;
}

.container2-flex-item-sub-item1 {
  flex: 20%;
}

.container2-flex-item-sub-item2 {
  flex: 75%;
}

.container2-flex-item-sub-item3 {
  flex: 8%;
}

.container2-flex-item-sub-item4 {
  flex: 86%;
}

@media (max-width: 800px) {
  .container1-flex-item,
  .sub-flex-item,
  .container2-flex-item-sub-item1,
  .container2-flex-item-sub-item2,
  .container2-flex-item-sub-item3,
  .container2-flex-item-sub-item4,
  .container2-flex-item {
    flex: 100%;
  }
  .progress-div {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.profile-photo {
    margin: 5px auto 15px auto;
    border-radius: 100%;
    border: 2px solid rgba(145, 145, 145, 0.425);
    object-fit: cover;
    width: 200px;
    height: 200px;
  }
  