.circleComplete {
  height: 30px;
  width: 30px;
  position: relative;
  background-color: #0a1f44;
  border-radius: 100%;
  box-shadow: 0 0 0 4px rgb(255, 255, 255), 0 0 0 8px #0a1f44;
}

.digit {
  font-weight: 900;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -12px 0 0 -5px;
}

.progress-status {
  font-weight: 500;
  color: #5e5e5e;
  font-size: 13px;
  margin-top: 9px;
}

@media (max-width: 800px) {
  .circleComplete {
    height: 20px;
    width: 20px;
    box-shadow: 0 0 0 3px rgb(255, 255, 255), 0 0 0 5px #0a1f44;
  }

  .digit {
    font-size: 11px;
    margin: -8px 0 0 -4px !important;
  }

  .progress-status {
    font-size: 11px;
  }
}

.full-component {
  text-align: -webkit-center;
}
