.title-top {
    background-color: #009fe5;
    padding-top: 3px;
    padding-bottom: 0.1px;
    height: 140px;
    width: 100%;
  
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  .title {
    width: fit-content;
    height: fit-content;
    /* border-bottom: white solid 2px; */
    /* text-decoration: underline white; */
    text-underline-offset: 15px;
    vertical-align: middle !important;
    text-align: center;
    letter-spacing: 15px;
    font-size: 45px;
    align-items: center;
    justify-content: center;
    padding-right: 8px;
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .uniLogo {
    height: 145px;
  }
  
  /* .bot-title{
      letter-spacing: normal;
      font-size: 20px;
      align-items: center;
      justify-content: center;
      padding-right: 8px;
      color: white;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      text-align:center ;
  } */
  @media only screen and (max-width: 3000px) {
    .title {
      margin-top: 12px;
      font-size: 60px;
      letter-spacing: 5px;
      vertical-align: middle !important;
      text-underline-offset: 10px;
    }
  }
  
  @media only screen and (max-width: 1042px) {
    .title {
      margin-top: 10px;
      font-size: 57px;
      letter-spacing: 5px;
      vertical-align: middle !important;
      text-underline-offset: 10px;
    }
  }
  @media only screen and (max-width: 1010px) {
    .title {
      margin-top: 12px;
      font-size: 8px;
      letter-spacing: 5px;
      vertical-align: middle !important;
      text-underline-offset: 10px;
    }
  }
  @media only screen and (max-width: 1010px) {
    .title {
      font-size: 55px;
      letter-spacing: 5px;
      vertical-align: middle !important;
      text-underline-offset: 10px;
    }
  }
  @media only screen and (max-width: 977px) {
    .title {
      margin-top: 20px;
      font-size: 50px;
      letter-spacing: 5px;
      vertical-align: middle !important;
      text-underline-offset: 8px;
    }
  }
  @media only screen and (max-width: 912px) {
    .title {
      margin-top: 20px;
      font-size: 47px;
      letter-spacing: 5px;
      vertical-align: middle !important;
      text-underline-offset: 8px;
    }
  }
  @media only screen and (max-width: 872px) {
    .title {
      margin-top: 27px;
      font-size: 43px;
      letter-spacing: 5px;
      vertical-align: middle !important;
      text-underline-offset: 8px;
    }
  }
  @media only screen and (max-width: 820px) {
    .title {
    
      font-size: 40px;
      letter-spacing: 5px;
      vertical-align: middle !important;
      text-underline-offset: 8px;
    }
  }
  @media only screen and (max-width: 781px) {
    .title {
    margin-top: 0px;
      font-size: 40px;
      letter-spacing: 5px;
      vertical-align: middle !important;
      text-underline-offset: 8px;
    }
  }
  @media only screen and (max-width: 755px) {
    .title {
      margin-top: 0px;
      font-size: 40px;
      letter-spacing: 5px;
      vertical-align: middle !important;
      text-underline-offset: 8px;
    }
  }
  @media only screen and (max-width: 602px) {
    .title {
      font-size: 40px;
      letter-spacing: 5px;
      vertical-align: middle !important;
      text-underline-offset: 8px;
    }
  }
  @media only screen and (max-width: 560px) {
    .title {
      font-size: 36px;
      letter-spacing: 5px;
      vertical-align: middle !important;
      text-underline-offset: 8px;
    }
  }
  @media only screen and (max-width: 526px) {
    .title {
      font-size: 35px;
      letter-spacing: 5px;
      vertical-align: middle !important;
      text-underline-offset: 8px;
    }
  }
  @media only screen and (max-width: 517px) {
    .title {
      font-size: 34px;
      letter-spacing: 5px;
      vertical-align: middle !important;
      text-underline-offset: 8px;
    }
  }
  @media only screen and (max-width: 509px) {
    .title {
      margin-top: 15px;
      font-size: 30px;
      letter-spacing: 5px;
      vertical-align: middle !important;
      text-underline-offset: 8px;
    }
  }
  @media only screen and (max-width: 474px) {
    .title {
      margin-top: 15px;
      font-size: 28px;
      letter-spacing: 5px;
      vertical-align: middle !important;
      text-underline-offset: 8px;
    }
  }
  @media only screen and (max-width: 457px) {
    .title {
      
      font-size: 26px;
      letter-spacing: 5px;
      vertical-align: middle !important;
      text-underline-offset: 8px;
    }
  }
  @media only screen and (max-width: 440px) {
    .title {
      margin-top: -2px;
      font-size: 26px;
      letter-spacing: 5px;
      vertical-align: middle !important;
      text-underline-offset: 8px;
    }
  }
  @media only screen and (max-width: 400px) {
    .title {
      font-size: 28px;
      letter-spacing: 5px;
      vertical-align: middle !important;
      text-underline-offset: 8px;
    }
  }
  @media only screen and (max-width: 383px) {
    .title {
      margin-top: -8px;
      font-size: 28px;
      letter-spacing: 5px;
      vertical-align: middle !important;
      text-underline-offset: 8px;
    }
  }
  @media only screen and (max-width: 372px) {
    .title {
      font-size: 28px;
      letter-spacing: 5px;
      vertical-align: middle !important;
      text-underline-offset: 8px;
    }
  }
  @media only screen and (max-width: 333px) {
    .title {
      font-size: 26px;
      letter-spacing: 5px;
      vertical-align: middle !important;
      text-underline-offset: 8px;
    }
  }
  @media only screen and (max-width:322px) {
    .title {
      margin-top: 2px;
      font-size: 24px;
      letter-spacing: 5px;
      vertical-align: middle !important;
      text-underline-offset: 8px;
    }
  }
  @media only screen and (max-width: 309px) {
    .title {
      margin-top: 9px;
      font-size: 21px;
      letter-spacing: 5px;
      vertical-align: middle !important;
      text-underline-offset: 8px;
    }
  }
  @media only screen and (max-width: 299px) {
    .title {
      font-size: 20px;
      letter-spacing: 5px;
      vertical-align: middle !important;
      text-underline-offset: 8px;
    }
  }

