.image {
  width: auto;
  height: 400px;
  flex-wrap: wrap;

  float: right;

}


  @media (max-width: 768px) {
    .strip-image-company {
      max-width: 50%;
      
    }
  }
  
  @media (max-width: 480px) {
    .strip-image-company {
      max-width: 90%;
     
    }
}
@media (max-width: 976px) {
    .strip-image-company{
    flex: auto;
  }
 
  
}
.section_1 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
  
  }
  .strip-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin-top: 0;
    flex-wrap: wrap;
    padding: 10px;

  }
  
  .para-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .para-style {
    text-align: justify;
    margin-top: 0;
  
  
  }
  
  .button-container {
    display: flex;
    /* justify-content: center; */
    margin-top: 40px;
  }
 .section_1-title{
  margin-top: 0;

 }
 .left-section {
  flex: 1;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 50px;
  padding-left: 5%;

 }
 .custom-card-container {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  overflow: hidden;
  position: relative;
  flex-wrap: wrap;
}

.custom-card {
  width: 272.5px;
  margin-right: 15px;
  margin-left: 20px;
  height: 220px;
  position: relative;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(134, 150, 150);
  padding: 20px;
  margin-top: 10px;
  border: 2rem;
  border-radius: 10%;
  margin-bottom: 10px;
}
.custom-card:hover{
  background-color: rgb(137, 206, 246);
}
.custom-card:hover .custom-card-heading {
  transform: translateY(-10%);
  
}

.custom-card:hover .custom-card-description {
  display: block;
  font-family: Georgia;
 
}

.custom-card .custom-card-heading {
  transition: transform 0.3s;
  align-items: center;
  margin-left: 2px;
  font-family: Georgia;
}

.custom-card .custom-card-description {
  display: none;
  font-weight: 100;
}
.custom-card-heading{
  color: #484848;
  font-weight:500 ;
}
.block {
  background-color: rgb(22, 64, 129);
  border-radius: 8px;
  display: block;
  padding: 20px;
  margin: 0.75rem 0.5rem;
  width: 60%;
}

.word-text {
  font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", Roboto, Noto, sans-serif;
  color: rgb(255, 255, 255);
  font-size: 2.75rem;
  font-weight: 400;
  line-height: 112.5%;
  letter-spacing: -1px;
}
.image2{
  margin-left: 500px;
   width: auto;
  height: 400px;
  flex-wrap: wrap;
  margin-right: 0;
  margin-top: 20px;
  float: right;
}
.button-box {
  box-sizing: border-box;
  margin-block: 0px;
  margin-inline: 0px;
  min-inline-size: 0px;
  
}

.button-text {
  color: #03039d;
  background-color: rgb(253, 252, 255);
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-top: 5px;
  font-size: small;
  
}

@media (max-width: 400px) {
  .block {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .image2 {
    margin-bottom: 20px;
    display: block;
    float: none;
  }
}

