.flyer {
    margin: 5px auto 15px auto;
    border: 2px solid rgba(145, 145, 145, 0.425);
    object-fit: cover;
    width: 200px;
    height: 200px;
}

.btn-row {
    padding-top: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
}

.scroll-btn {
    border-radius: 30px;
    /* background-image: url(../components/companyPhotos/Asanka\ Madushan.jpeg); */
    font-size: 22px;
    font-weight: bolder;
    padding: 50px 100px;
}

.scroll-btn-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 50%;
}

.scroll-btn-col div {
    margin: auto;
    text-align: center;
    width: auto;
}

@media (max-width: 1000px) {
    .scroll-btn-col div button {
        font-size: 20px !important;
    }
}

.responses {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 15px 20px;
}

.response {
    flex: 0 0 30%;
    min-width: max-content;
    background-color: rgb(194, 194, 204);
    border-radius: 10px;
    padding: 20px;
    transition: 0.3s;
    border: 2px solid transparent;
}

.response:hover {
    border-color: rgb(23, 32, 112);
}

.responses-sec-response {
    flex: 0 0 30%;
    min-width: 300px;
}

.butdet {
    border: none;
}

@media (max-width: 1400px) {
    .res {
        align-items: center;
    }
}
