.container3:hover{
    animation: flip 0.5s ;
    background-color: linear-gradient(to left bottom,blue,black);}
    @keyframes flip{
        from{
            transform: rotate(0);
        }
        to{
            transform: rotateY(25deg);
        }
    }